# advertising R6's loopback 1 address to its peers.
# Let's say R6's loopback 1 address is 6.6.6.6/24.

router bgp 65006
    neighbor 10.1.1.1 remote-as 65001
    neighbor 10.1.1.2 remote-as 65002
    network 6.6.6.0 mask 255.255.255.0

# making a prefix-list to select the R6's loopback 1 address.
ip prefix-list R6_L1 permit 66.66.66.0/24

# making a route-map to match the prefix-list and set AS_PATH attribute.
route-map R6_L1 permit 10
    match ip address R6_L1
    set as-path prepend 65006 65006
exit
route-map R6_L1 permit 20
exit

# applying the route-map to the neighbors to influence the AS_PATH attribute.
router bgp 65006
    neighbor 10.1.1.1 route-map R6_L1 out
    neighbor 10.1.1.2 route-map R6_L1 out
exit
clear ip bgp * out
end
